@page
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="container">
    <form id="user-info-form">
        <div class="form-group">
            <div id="userinfo">
                <label for="username">Please enter your username</label>
                <input type="text" class="form-control" id="username" name="username" autocomplete="off" />
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-danger" onclick="SetUsername();">JOIN</button>
        </div>
    </form>
    <div id="message-area" class="row" style="display:none">
        <div> Joined as : <b> <span id="name">Not Set</span> </b></div>
        <div> Connection ID : <b> <span id="connection-id">Not Set</span> </b></div>
        <br />
        <input type="text" id="message" class="form-control" placeholder="Type your message here" autocomplete="off" />
        <br />
        <input type="text" id="receiver-connection-id" class="form-control" placeholder="Enter receiver connection id here (optional)" autocomplete="off" />
        <br />
        <input type="button" class="btn btn-success" id="sendButton" value="Send Message" />
        <br />
        <hr />
        <div class="row">
            <div class="col-6">
                <ul id="messageList" class="list-group list-group-flush"></ul>
            </div>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>

<script src="~/js/chat.js"></script>